START
PUSHN 1
PUSHN 1
PUSHN 1
PUSHF 0.0
PUSHF 0.0
PUSHF 0.0
PUSHS ""
READ
ATOI
STOREL 2
LABEL0:READ
ATOF
STOREL 3
PUSHL 1
PUSHL 0
EQUAL
JZ LABEL1
PUSHL 5
PUSHL 3
FADD
STOREL 5
PUSHI 1
STOREL 1
JUMP LABEL2
LABEL1:PUSHL 4
PUSHL 3
FADD
STOREL 4
PUSHI 0
STOREL 1
LABEL2:PUSHL 2
PUSHI 1
SUB
STOREL 2
PUSHL 2
PUSHI 0
SUP
NOT
JZ LABEL0
READ
STOREL 6
PUSHL 6
PUSHS "PAR"
EQUAL
JZ LABEL3
PUSHL 5
WRITEF
JUMP LABEL4
LABEL3:PUSHL 6
PUSHS "IMPAR"
EQUAL
JZ LABEL5
PUSHL 4
WRITEF
JUMP LABEL6
LABEL5:PUSHS "erro"
WRITES
LABEL6:LABEL4:STOP
