START
PUSHN 1
PUSHN 1
PUSHN 1
PUSHF 0.0
PUSHF 0.0
PUSHF 0.0
PUSHI 2
STOREL 1
PUSHF 1.0
STOREL 5
READ
ATOI
STOREL 0
READ
ATOF
STOREL 3
PUSHL 1
PUSHL 0
MUL
PUSHI 1
ADD
PUSHI 2
DIV
STOREL 2
PUSHS "Resultado: "
WRITES
PUSHL 2
WRITEI
PUSHS "Total: "
WRITES
PUSHL 3
PUSHL 5
FDIV
STOREL 4
PUSHS "Total: "
WRITES
PUSHL 4
WRITEF
STOP
