START
PUSHN 1
PUSHN 1
PUSHN 1
PUSHN 1
PUSHN 1
LABEL0:PUSHS "A"
WRITES
READ
ATOI
STOREL 4
PUSHS "B"
WRITES
READ
ATOI
STOREL 3
PUSHS "C"
WRITES
READ
ATOI
STOREL 2
PUSHL 4
PUSHL 3
SUP
PUSHL 4
PUSHL 2
SUP
MUL
JZ LABEL1
PUSHL 4
STOREL 1
JUMP LABEL2
LABEL1:PUSHL 3
PUSHL 2
SUP
JZ LABEL3
PUSHL 3
STOREL 1
JUMP LABEL4
LABEL3:PUSHL 2
STOREL 1
LABEL4:LABEL2:PUSHS "Maior valor:"
WRITES
PUSHL 1
WRITEI
PUSHS "Outro? "
WRITES
READ
ATOI
STOREL 0
PUSHL 0
PUSHI 0
SUPEQ
NOT
JZ LABEL0
STOP
