START
PUSHN 1
PUSHN 1
PUSHN 1
PUSHS ""
PUSHS ""
PUSHS ""
PUSHL 5
WRITES
READ
STOREL 5
PUSHS "Sobrenome: "
WRITES
READ
STOREL 4
PUSHS "Ola, "
PUSHL 5
PUSHS " "
PUSHL 4
PUSHS "!"
SWAP
CONCAT
SWAP
CONCAT
SWAP
CONCAT
SWAP
CONCAT
STOREL 3
PUSHL 3
PUSHS "1"
SWAP
CONCAT
STOREL 3
PUSHL 3
WRITES
READ
ATOI
STOREL 2
READ
ATOI
STOREL 0
PUSHL 2
PUSHL 0
SUP
JZ LABEL0
PUSHL 0
STOREL 1
PUSHL 2
STOREL 0
PUSHL 1
STOREL 2
JUMP LABEL1
LABEL0:NOP
LABEL1:PUSHS "Apos a troca: "
WRITES
PUSHL 2
WRITEI
PUSHL 0
WRITEI
STOP
