START
PUSHN 1
PUSHN 1
PUSHN 1
PUSHS ""
PUSHS "Sim"
STOREL 3
PUSHI 50
STOREL 0
PUSHI 100
STOREL 1
LABEL0:PUSHS "Pontuacao Candidato: "
WRITES
READ
ATOI
STOREL 2
PUSHS "Disponibilidade Candidato: "
WRITES
READ
STOREL 3
PUSHL 2
PUSHL 0
SUP
PUSHL 3
PUSHS "Sim"
EQUAL
MUL
JZ LABEL1
PUSHS "Candidato aprovado"
WRITES
JUMP LABEL2
LABEL1:PUSHS "Candidato reprovado"
WRITES
LABEL2:PUSHL 2
PUSHI 0
SUPEQ
NOT
JZ LABEL0
STOP
